.loader {
  background: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
}

.number {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: relative;
}
.number svg {
  margin-left: -4px;
  position: absolute;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
  -webkit-animation: neonGlowStart 3s linear 6 forwards 3s, neonGlow 7s linear infinite 6s;
          animation: neonGlowStart 3s linear 6 forwards 3s, neonGlow 7s linear infinite 6s;
}
.number svg g:first-of-type {
  transition: all 0.3s ease-in;
  fill: #16061d;
  -webkit-animation: neonFillStart 3s linear 6 forwards 3s, neonFillO 7s linear infinite 6s;
          animation: neonFillStart 3s linear 6 forwards 3s, neonFillO 7s linear infinite 6s;
}
.number svg g:not(:first-of-type) {
  transition: all 0.3s ease-in;
  fill: #16061d;
  -webkit-animation: neonFillStart 3s linear 6 forwards 3s, neonFill 7s linear infinite 6s;
          animation: neonFillStart 3s linear 6 forwards 3s, neonFill 7s linear infinite 6s;
}
.number .background-glow {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: rgba(255, 184, 255, 0);
  height: 100px;
  width: 75px;
  -webkit-animation: neonGlowStartBg 3s linear 6 forwards 3s, neonGlowBg 7s linear infinite 6s;
          animation: neonGlowStartBg 3s linear 6 forwards 3s, neonGlowBg 7s linear infinite 6s;
}
.number .background-glow.bglow1 {
  transform: translate(-50%, -50%);
  -webkit-animation: neonGlowStartBg 3s linear 6 forwards 3s, neonGlowBgO 7s linear infinite 6s;
          animation: neonGlowStartBg 3s linear 6 forwards 3s, neonGlowBgO 7s linear infinite 6s;
}
.number .background-glow.bglow2 {
  border-radius: 100% 50%;
  height: 70px;
  width: 45px;
  transform: translate(-370%, -50%);
}
.number .background-glow.bglow3 {
  height: 70px;
  width: 45px;
  border-radius: 50% 100%;
  transform: translate(270%, -50%);
}

.behance svg {
  filter: drop-shadow(0 0 3px #2d30ff);
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

@-webkit-keyframes neonGlow {
  0% {
    filter: drop-shadow(0 0 4px #2d30ff);
  }
  24% {
    filter: drop-shadow(0 0 3px #2d30ff);
  }
  25% {
    filter: drop-shadow(0 0 4px #2d30ff);
  }
  26% {
    filter: drop-shadow(0 0 2px #2d30ff);
  }
  40% {
    filter: drop-shadow(0 0 4px #2d30ff);
  }
  100% {
    filter: drop-shadow(0 0 3px #2d30ff);
  }
}

@keyframes neonGlow {
  0% {
    filter: drop-shadow(0 0 4px #2d30ff);
  }
  24% {
    filter: drop-shadow(0 0 3px #2d30ff);
  }
  25% {
    filter: drop-shadow(0 0 4px #2d30ff);
  }
  26% {
    filter: drop-shadow(0 0 2px #2d30ff);
  }
  40% {
    filter: drop-shadow(0 0 4px #2d30ff);
  }
  100% {
    filter: drop-shadow(0 0 3px #2d30ff);
  }
}
@-webkit-keyframes neonFill {
  0% {
    fill: #2d30ff;
  }
  24.5% {
    fill: #ff80ff;
  }
  25% {
    fill: #2d30ff;
  }
  26% {
    fill: #ff80ff;
  }
  27% {
    fill: #2d30ff;
  }
  28% {
    fill: #2d30ff;
  }
  100% {
    fill: #2d30ff;
  }
}
@keyframes neonFill {
  0% {
    fill: #2d30ff;
  }
  24.5% {
    fill: #ff80ff;
  }
  25% {
    fill: #2d30ff;
  }
  26% {
    fill: #ff80ff;
  }
  27% {
    fill: #2d30ff;
  }
  28% {
    fill: #2d30ff;
  }
  100% {
    fill: #2d30ff;
  }
}
@-webkit-keyframes neonFillO {
  0% {
    fill: #2d30ff;
  }
  24.5% {
    fill: #ff80ff;
  }
  25% {
    fill: #16061d;
  }
  26% {
    fill: #ff80ff;
  }
  27% {
    fill: #2d30ff;
  }
  28% {
    fill: #16061d;
  }
  29% {
    fill: #2d30ff;
  }
  100% {
    fill: #2d30ff;
  }
}
@keyframes neonFillO {
  0% {
    fill: #2d30ff;
  }
  24.5% {
    fill: #ff80ff;
  }
  25% {
    fill: #16061d;
  }
  26% {
    fill: #ff80ff;
  }
  27% {
    fill: #2d30ff;
  }
  28% {
    fill: #16061d;
  }
  29% {
    fill: #2d30ff;
  }
  100% {
    fill: #2d30ff;
  }
}
@-webkit-keyframes neonFillStart {
  0% {
    fill: #16061d;
  }
  31% {
    fill: #2d30ff;
  }
  32% {
    fill: #16061d;
  }
  33% {
    fill: #16061d;
  }
  55% {
    fill: #16061d;
  }
  56% {
    fill: #2d30ff;
  }
  57% {
    fill: #16061d;
  }
  99% {
    fill: #16061d;
  }
  100% {
    fill: #2d30ff;
  }
}
@keyframes neonFillStart {
  0% {
    fill: #16061d;
  }
  31% {
    fill: #2d30ff;
  }
  32% {
    fill: #16061d;
  }
  33% {
    fill: #16061d;
  }
  55% {
    fill: #16061d;
  }
  56% {
    fill: #2d30ff;
  }
  57% {
    fill: #16061d;
  }
  99% {
    fill: #16061d;
  }
  100% {
    fill: #2d30ff;
  }
}
@-webkit-keyframes neonGlowStart {
  0% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  31% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  32% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  33% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  55% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  56% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  57% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  99% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  100% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
}
@keyframes neonGlowStart {
  0% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  31% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  32% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  33% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  55% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
  56% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  57% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  99% {
    filter: drop-shadow(0 0 0 #2d30ff);
  }
  100% {
    filter: drop-shadow(0 0 0.25px #2d30ff);
  }
}
@-webkit-keyframes neonGlowStartBg {
  0% {
    box-shadow: 0 0 80px 40px rgba(216, 73, 216, 0.11), inset 0 0 20px 5px rgba(216, 73, 216, 0.11);
  }
  31% {
    box-shadow: 0 0 90px 50px rgba(216, 73, 216, 0.11), inset 0 0 25px 10px rgba(216, 73, 216, 0.11);
  }
  32% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  33% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  55% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  56% {
    box-shadow: 0 0 60px 20px rgba(216, 73, 216, 0.11), inset 0 0 25px 12px rgba(216, 73, 216, 0.11);
  }
  57% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  99% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  100% {
    box-shadow: 0 0 100px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 15px rgba(216, 73, 216, 0.15);
  }
}
@keyframes neonGlowStartBg {
  0% {
    box-shadow: 0 0 80px 40px rgba(216, 73, 216, 0.11), inset 0 0 20px 5px rgba(216, 73, 216, 0.11);
  }
  31% {
    box-shadow: 0 0 90px 50px rgba(216, 73, 216, 0.11), inset 0 0 25px 10px rgba(216, 73, 216, 0.11);
  }
  32% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  33% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  55% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  56% {
    box-shadow: 0 0 60px 20px rgba(216, 73, 216, 0.11), inset 0 0 25px 12px rgba(216, 73, 216, 0.11);
  }
  57% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  99% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0), inset 0 0 0 0 rgba(216, 73, 216, 0);
  }
  100% {
    box-shadow: 0 0 100px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 15px rgba(216, 73, 216, 0.15);
  }
}
@-webkit-keyframes neonGlowBg {
  0% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 16px rgba(216, 73, 216, 0.15);
  }
  24.5% {
    box-shadow: 0 0 70px 60px rgba(216, 73, 216, 0.15), inset 0 0 25px 18.5px rgba(216, 73, 216, 0.15);
  }
  25% {
    box-shadow: 0 0 70px 60px rgba(216, 73, 216, 0.15), inset 0 0 25px 18.5px rgba(216, 73, 216, 0.15);
  }
  26% {
    box-shadow: 0 0 80px 60px rgba(216, 73, 216, 0.15), inset 0 0 22px 17px rgba(216, 73, 216, 0.15);
  }
  40% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 19px rgba(216, 73, 216, 0.15);
  }
  100% {
    box-shadow: 0 0 90px 70px rgba(216, 73, 216, 0.15), inset 0 0 25px 18px rgba(216, 73, 216, 0.15);
  }
}
@keyframes neonGlowBg {
  0% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 16px rgba(216, 73, 216, 0.15);
  }
  24.5% {
    box-shadow: 0 0 70px 60px rgba(216, 73, 216, 0.15), inset 0 0 25px 18.5px rgba(216, 73, 216, 0.15);
  }
  25% {
    box-shadow: 0 0 70px 60px rgba(216, 73, 216, 0.15), inset 0 0 25px 18.5px rgba(216, 73, 216, 0.15);
  }
  26% {
    box-shadow: 0 0 80px 60px rgba(216, 73, 216, 0.15), inset 0 0 22px 17px rgba(216, 73, 216, 0.15);
  }
  40% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 19px rgba(216, 73, 216, 0.15);
  }
  100% {
    box-shadow: 0 0 90px 70px rgba(216, 73, 216, 0.15), inset 0 0 25px 18px rgba(216, 73, 216, 0.15);
  }
}
@-webkit-keyframes neonGlowBgO {
  0% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 16px rgba(216, 73, 216, 0.15);
  }
  24.5% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 15px rgba(216, 73, 216, 0.15);
  }
  26% {
    box-shadow: 0 0 80px 60px rgba(216, 73, 216, 0.15), inset 0 0 22px 17px rgba(216, 73, 216, 0.15);
  }
  27% {
    box-shadow: 0 0 80px 60px rgba(216, 73, 216, 0.12), inset 0 0 22px 17px rgba(216, 73, 216, 0.12);
  }
  28% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0.15), inset 0 0 0 0 rgba(216, 73, 216, 0.11);
  }
  29% {
    box-shadow: 0 0 90px 75px rgba(216, 73, 216, 0.15), inset 0 0 25px 19px rgba(216, 73, 216, 0.15);
  }
  100% {
    box-shadow: 0 0 90px 70px rgba(216, 73, 216, 0.15), inset 0 0 25px 18px rgba(216, 73, 216, 0.15);
  }
}
@keyframes neonGlowBgO {
  0% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 16px rgba(216, 73, 216, 0.15);
  }
  24.5% {
    box-shadow: 0 0 85px 80px rgba(216, 73, 216, 0.15), inset 0 0 30px 15px rgba(216, 73, 216, 0.15);
  }
  26% {
    box-shadow: 0 0 80px 60px rgba(216, 73, 216, 0.15), inset 0 0 22px 17px rgba(216, 73, 216, 0.15);
  }
  27% {
    box-shadow: 0 0 80px 60px rgba(216, 73, 216, 0.12), inset 0 0 22px 17px rgba(216, 73, 216, 0.12);
  }
  28% {
    box-shadow: 0 0 0 0 rgba(216, 73, 216, 0.15), inset 0 0 0 0 rgba(216, 73, 216, 0.11);
  }
  29% {
    box-shadow: 0 0 90px 75px rgba(216, 73, 216, 0.15), inset 0 0 25px 19px rgba(216, 73, 216, 0.15);
  }
  100% {
    box-shadow: 0 0 90px 70px rgba(216, 73, 216, 0.15), inset 0 0 25px 18px rgba(216, 73, 216, 0.15);
  }
}
@media screen and (max-width: 420px) {
  .number .bglow1 {
    transform: translate(-50%, -50%) scale(0.6) !important;
  }
  .number .bglow2 {
    transform: translate(-370%, -50%) scale(0.6) !important;
  }
  .number .bglow3 {
    transform: translate(270%, -50%) scale(0.6) !important;
  }
}
