.file
{
  margin-top: 80px;
  height: 200px;
}

.file .content
{
  background-color: rgb(235, 235, 235);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  cursor: pointer;
}

.file-drop-zone
{
  height: 100%;
}

.data
{
  margin-top: 80px;
}

.ct
{
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
