<div class="container">
  <div class="login-content">
    <div class="card login">
      <h5 class="card-header">Create new admin</h5>
      <div class="card-body">
        <form [formGroup]="adminForm" (ngSubmit)="login()" class="login-form">
          <div class="mb-3 row">
            <div class="col">
              <input type="text" formControlName="userName" class="form-control" id="staticEmail" placeholder="Enter your user name">
              <small class="text-danger" *ngIf="(adminForm.controls['userName'].touched || adminForm.controls['userName'].dirty) && (adminForm.controls['userName'].errors)">Please enter a username</small>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col">
              <input type="password" formControlName="password" class="form-control" placeholder="Enter your password" id="inputPassword">
              <small class="text-danger" *ngIf="(adminForm.controls['password'].touched || adminForm.controls['password'].dirty) && (adminForm.controls['password'].errors)">Please enter a password</small>
            </div>
          </div>

          <div class="mb-3 row bt">
            <div class="col">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>

          <div class="mb-3 rx">
            <p><a href="">Login</a></p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
